@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media (max-width: 599px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  h1 {
    padding-left: 1rem;
  }
}
.bagved {
  background-color: #e1d6c6;
}
